@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}
* a {
  text-decoration: none !important;
}

.grid--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: "header";
  width: 100%;
  background-color: #e48f65;
  font-family: "Roboto Cn", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 0.5rem 7% !important;
  text-transform: uppercase;
  position: fixed;
  z-index: 5;
}

.logo {
  display: flex;
}

.icono {
  height: 50px;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
}

.nombre {
  font-size: 1.653rem;
  line-height: 50px;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
}
.nombre span {
  color: #8f4646;
}
.nombre:hover::before, .nombre:hover::after {
  transform: scaleX(1);
}
.nombre::before, .nombre::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.031rem;
  background-color: #8f4646;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}
.nombre::before {
  top: 0;
  transform-origin: left;
}
.nombre::after {
  bottom: 0;
  transform-origin: left;
}

.nav--hamburguesa {
  display: none;
  color: white;
  background: none;
  border: none;
  font-size: 1.875rem;
  padding: 0 1.25rem;
  line-height: 3.125rem;
  cursor: pointer;
}

#menu {
  display: none;
}

.header--nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2%;
  font-weight: bold;
  margin: 0;
}
.header--nav li a {
  color: black;
  position: relative;
  letter-spacing: 0.125rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.4s;
}
.header--nav li a:hover {
  background: #8f4646;
  color: white;
}

.nav--animaciones li {
  list-style: none;
  transform: translateY(-100rem);
  animation: slideIn 0.5s forwards;
}
.nav--animaciones li:nth-child(1) {
  animation-delay: 0s;
}
.nav--animaciones li:nth-child(2) {
  animation-delay: 0.5s;
}
.nav--animaciones li:nth-child(3) {
  animation-delay: 1s;
}

.carrito {
  font-size: 30px;
  padding: 10px;
  line-height: 50px;
  background-color: #e48f65;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
}
.carrito:hover {
  font-size: 32px;
  transition: all 0.5s;
}

.main {
  grid-area: "main";
  width: 100%;
  height: auto;
  background-color: #ecdcbe;
}

.banner {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  text-align: center;
  background: center fixed url(img/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--descripcion {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}
.banner--descripcion p {
  margin: 2rem 0 3rem 0;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.banner--descripcion a {
  border: 2px solid white;
  padding: 0.6rem 3.5rem;
  margin: auto;
  opacity: 0.85 !important;
  color: white;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  transform: all 1s ease-out;
}
.banner--descripcion a:hover {
  background: white;
  color: black;
  opacity: 1;
  box-shadow: 0rem 0.313rem 0.625rem 0.125rem rgba(0, 0, 0, 0.9);
}
.banner--descripcion h2 {
  font-size: 4.375rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.tarjetas--contenedor {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(3, auto);
  padding: 1.25rem;
}

.tarjetas {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  margin-top: -125px;
}
.tarjetas i {
  font-size: 3.125rem;
  margin-bottom: 0.625rem;
}
.tarjetas h3 {
  font-style: italic;
  margin-top: 0.625rem;
}
.tarjetas p {
  font-size: 1.25rem;
  margin: 0.625rem;
}

.botones--contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 5%;
  justify-content: center;
}
.botones--contenedor button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-image: linear-gradient(50deg, #e48f65 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  border-color: #e48f65;
  text-shadow: 1px 1px 1px black;
  transition: all 0.5s ease-in-out;
}
.botones--contenedor button:hover {
  background-position: 0;
}

.productos--titulo {
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
}
.productos--titulo span {
  color: #4a7584;
}

.producto-individual {
  flex: 1 1 20rem;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.producto-individual img {
  height: 250px;
  margin-bottom: 0.5rem;
}
.producto-individual img:hover {
  filter: brightness(108%);
  transform: translateY(-0.313rem) scale(1.01);
  transition: all 0.5s;
}
.producto-individual h3 {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}
.producto-individual p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
.producto-individual button {
  align-items: center;
  justify-content: center;
  background: #ecdcbe;
  color: #8f4646;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border-color: #ecdcbe;
  outline: 2px solid #ecdcbe;
  outline-offset: 2px;
  transition: all 0.5s;
}
.producto-individual button:hover {
  background-color: #8f4646;
  border-color: #8f4646;
  color: #ecdcbe;
  outline: black;
}

.carritoTitulo {
  text-transform: uppercase;
  font-style: italic;
}

.titleItem {
  text-transform: uppercase;
  font-weight: bold;
}

.cantidadTotal {
  font-weight: bold;
}

.galeria {
  width: 100%;
  height: auto;
  padding: 2rem 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas: "galeria--img1 galeria--p1";
}

.galeria--img1 {
  grid-area: "galeria--img1";
}
.galeria--img1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0.125rem solid white;
  filter: brightness(90%);
}
.galeria--img1 img:hover {
  filter: brightness(100%);
  transition: all 0.5s ease-in-out;
}

.galeria--p1 {
  grid-area: "galeria--p1";
  background-color: #8f4646;
  padding: 5rem;
  border: 0.125rem solid white;
}
.galeria--p1 h3 {
  color: white;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.galeria--p1 p {
  color: white;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.footer {
  grid-area: "main";
  width: 100%;
  height: auto;
  background-color: #e48f65;
  padding: 40px 0;
}

.social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.social a {
  font-size: 24px;
  color: inherit !important;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.7;
}
.social a:hover {
  opacity: 1;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid black;
}

.nav--footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.nav--footer li {
  display: inline-block;
  padding: 0 15px;
}
.nav--footer a {
  color: inherit !important;
  opacity: 0.8;
}
.nav--footer a:hover {
  opacity: 1;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.copyright small {
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .tarjetas--contenedor {
    grid-template-columns: auto;
    background-color: #253a42;
  }

  .tarjetas {
    margin-top: 0px;
  }

  .tarjeta--a {
    margin-top: -125px;
  }

  .galeria {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "galeria--img1" "galeria--p1";
  }
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-around !important;
  }

  .header--nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header {
    justify-content: space-evenly;
    padding: 0.5rem 2%;
  }

  .producto-individual h3 {
    font-size: 1.5rem;
  }
  .producto-individual button {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
