@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}
* a {
  text-decoration: none;
}

.grid--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: "header";
  width: 100%;
  background-color: #e48f65;
  font-family: "Roboto Cn", sans-serif;
}

.header--logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 10%;
  text-transform: uppercase;
}

.logo {
  display: flex;
}

.icono {
  height: 50px;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
}

.nombre {
  font-size: 1.653rem;
  line-height: 50px;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
}
.nombre span {
  color: #8f4646;
}
.nombre:hover::before, .nombre:hover::after {
  transform: scaleX(1);
}
.nombre::before, .nombre::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.031rem;
  background-color: #8f4646;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}
.nombre::before {
  top: 0;
  transform-origin: left;
}
.nombre::after {
  bottom: 0;
  transform-origin: left;
}

.carrito {
  font-size: 30px;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 50%;
  transform: translateY(-100rem);
  animation: slideIn 1s forwards;
  background-color: #ec9c75;
}

.header--nav {
  display: flex;
  background-color: #ec9c75;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.nav--visible {
  display: flex;
}
.nav--visible li {
  list-style: none;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}
.nav--visible li:nth-child(1) {
  animation-delay: 0s;
}
.nav--visible li:nth-child(2) {
  animation-delay: 0.5s;
}
.nav--visible li:nth-child(3) {
  animation-delay: 1s;
}
.nav--visible li:nth-child(4) {
  animation-delay: 1.5s;
}

.nav--registro {
  display: flex;
}
.nav--registro li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}
.nav--registro li:nth-child(1) {
  animation-delay: 0s;
}
.nav--registro li:nth-child(2) {
  animation-delay: 0.5s;
}
.nav--registro li:nth-child(3) {
  animation-delay: 1s;
}

.nav--visible li a, .nav--registro li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 0.125rem;
}
.nav--visible li a:hover, .nav--registro li a:hover {
  font-weight: bold;
  color: #8f4646;
  transition: all 0.5s;
}
.nav--visible li a:hover::before, .nav--visible li a:hover::after, .nav--registro li a:hover::before, .nav--registro li a:hover::after {
  transform: scaleX(1);
}
.nav--visible li a::before, .nav--visible li a::after, .nav--registro li a::before, .nav--registro li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.031rem;
  background-color: #8f4646;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}
.nav--visible li a::before, .nav--registro li a::before {
  top: 0;
  transform-origin: left;
}
.nav--visible li a::after, .nav--registro li a::after {
  bottom: 0;
  transform-origin: right;
}

.main {
  grid-area: "main";
  width: 100%;
  height: auto;
  background-color: #ecdcbe;
}

.banner {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  text-align: center;
  background: center fixed url(img/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--descripcion {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}
.banner--descripcion p {
  margin: 2rem 0 3rem 0;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.banner--descripcion a {
  border: 2px solid white;
  padding: 0.6rem 3.5rem;
  margin: auto;
  opacity: 0.85;
  color: white;
  border-radius: 50px;
  font-size: 0.9rem;
  transform: all 1s ease-out;
}
.banner--descripcion a:hover {
  background: white;
  color: black;
  opacity: 1;
  box-shadow: 0rem 0.313rem 0.625rem 0.125rem rgba(0, 0, 0, 0.9);
}
.banner--descripcion h2 {
  font-size: 4.375rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.tarjetas--contenedor {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(3, auto);
  padding: 1.25rem;
}

.tarjetas {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  margin-top: -125px;
}
.tarjetas i {
  font-size: 3.125rem;
  margin-bottom: 0.625rem;
}
.tarjetas h3 {
  font-style: italic;
  margin-top: 0.625rem;
}
.tarjetas p {
  font-size: 1.25rem;
  margin: 0.625rem;
}

.productos--contendor {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 7%;
}

.productos--titulo {
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
}
.productos--titulo span {
  color: #4a7584;
}

.producto--ind {
  flex: 1 1 20rem;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.producto--ind img {
  height: 200px;
  width: 200px;
}
.producto--ind h3 {
  color: black;
  font-size: 2.5rem;
}
.producto--ind button {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background: #ecdcbe;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  outline: 2px solid #ecdcbe;
  outline-offset: 2px;
  transition: all 0.5s;
}
.producto--ind button:hover {
  background-color: black;
  color: white;
  outline: black;
}

.producto--precios {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 0.5rem;
}

.producto--cantidad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.producto--cantidad span {
  padding: 0 0.7rem;
  font-size: 1.75rem;
}
.producto--cantidad input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  padding: 0.5rem;
  width: 5rem;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
}

.footer {
  grid-area: "main";
  width: 100%;
  height: auto;
  background-color: #e48f65;
  padding: 40px 0;
}

.social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.social a {
  font-size: 24px;
  color: inherit;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.7;
}
.social a:hover {
  opacity: 1;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid black;
}

.nav--footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.nav--footer li {
  display: inline-block;
  padding: 0 15px;
}
.nav--footer a {
  color: inherit;
  opacity: 0.8;
}
.nav--footer a:hover {
  opacity: 1;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 20pxpx;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .tarjetas--contenedor {
    grid-template-columns: auto;
    background-color: #253a42;
  }

  .tarjetas {
    margin-top: 0px;
  }

  .tarjeta--a {
    margin-top: -125px;
  }
}

/*# sourceMappingURL=estilos.css.map */
