// VARIABLES

$color1:#e48f65;
$color2:#253a42;
$color3:#ecdcbe;
$color4:#8f4646;
$color5:#4a7584;

$font1: 'Roboto Cn', sans-serif;
$font2: 'Courier New', Courier, monospace;

// ANIMACIONES
@keyframes slideIn{
    from{}
    to{transform: translateX(0);}
}

// ESTILOS GLOBALES
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    a{
        text-decoration: none;
    }
}

// GRID LAYOUT
.grid--container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas: "header" "main" "footer";
}

// HEADER
.header{
    grid-area: "header";
    width: 100%;
    background-color: $color1;
    font-family: $font1;
}

.header--logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 10%;
    text-transform: uppercase;
}

.logo{display: flex;}

.icono{
    height: 50px;
    transform: translateY(-100rem);
    animation: slideIn 1s forwards;
}

.nombre{
    font-size: 1.653rem;
    line-height: 50px;
    transform: translateY(-100rem);
    animation: slideIn 1s forwards;
    span{
        color: $color4;
    }
    &:hover{
        &::before, &::after{
        transform: scaleX(1);
        }
    }
    &::before, &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.031rem;
        background-color: $color4;
        left: 0;
        transform: scaleX(0);
        transition: all .5s;
    }
    &::before{
        top: 0;
        transform-origin: left;
    }
    &::after {
        bottom: 0;
        transform-origin: left;
    }
}

.carrito{
    font-size: 30px;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 50%;
    transform: translateY(-100rem);
    animation: slideIn 1s forwards;
}

.header--nav{
    display: flex;
    background-color: #ec9c75;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.nav--visible{
    display: flex;
    li{
        list-style: none;
        transform: translateX(-100rem);
        animation: slideIn .5s forwards;
        &:nth-child(1){animation-delay: 0s;}
        &:nth-child(2){animation-delay: .5s;}
        &:nth-child(3){animation-delay: 1s;}
        &:nth-child(4){animation-delay: 1.5s;}
    }
}

.nav--registro{
    display: flex;
    li{
        list-style: none;
        transform: translateX(100rem);
        animation: slideIn .5s forwards;
        &:nth-child(1){animation-delay: 0s;}
        &:nth-child(2){animation-delay: .5s;}
        &:nth-child(3){animation-delay: 1s;}
    }
}

.nav--visible li a, .nav--registro li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 0.125rem;
    &:hover{
        font-weight: bold;
        color: $color4;
        transition: all .5s;
        &::before, &::after{transform: scaleX(1);}
    }
    &::before, &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.031rem;
        background-color: $color4;
        left: 0;
        transform: scaleX(0);
        transition: all .5s;
    }
    &::before{
        top: 0;
        transform-origin: left;
    }
    &::after {
        bottom: 0;
        transform-origin: right;
    }
}

// MAIN
.main{
    grid-area: "main";
    width: 100%;
    height: 200px;
    background-color: brown;
}

// FOOTER
.footer{
    grid-area: "main";
    width: 100%;
    height: auto;
    background-color: $color1;
    padding: 40px 0;
}

.social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
    a{
        font-size: 24px;
        color: inherit;
        border: 2px solid white;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.7;
        &:hover{
            opacity: 1;
            border-radius: 1rem 1rem 1rem 1rem;
            background-color: white;
            border: 1px solid black;
        }
    }
}

.nav--footer{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    li{
        display: inline-block;
        padding: 0 15px;
    }
    a{
        color: inherit;
        opacity: 0.8;
        &:hover{opacity: 1;}
    }
}

.copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 20pxpx;
    font-weight: bold;
}